body {
  padding: 20px;
}


.restart-match{
display: flex;
display: none;
padding: 30px;
}
.create-match {
  display: flex;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  padding: 30px;
}

.join-match {
  display: flex;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  padding: 30px;
}

.create-tournament {
  display: flex;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  padding: 30px;
}

