* {
  color: rgb(245, 245, 245);
}

body {
  font-size: 62.5%;
  height: 100vh;
  max-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.fas {
  background-color: transparent !important;
  height: 1.8rem;
  margin-right: 0.4rem;
  text-align: center;
  width: 1.8rem;
}

.viewport {
  display: none;
}

.show-view {
  display: block;
}

.container:after {
  clear: both;
}



#user-profile__container,
#main-view {
  height: 100vh;
}

#user-profile__container {
  background-color: rgb(18, 18, 18);
  box-shadow: 0.2rem 0 0.4rem rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  height: 100;
  z-index: 1;
}

#user-profile__container .nav-link {
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s, color 0.3s;
}

#user-profile__container .nav-link:hover,
#user-profile__container .nav-link:hover .fas {
  background-color: rgb(245, 245, 245);
  color: rgb(27, 27, 27);
  transition: background-color 0.3s, color 0.3s;
}

#main-view {
  background-color: rgb(34, 34, 34);
  padding: 2.4rem 1.5rem;
}

#stats__container .row {
  height: 15rem;
}


#stats__container .row:not(:last-child) {
  padding: 0 0 2.4rem 0;
}

#stats__container .stats__card {
  background-color: rgb(27, 27, 27);
  padding: 1.2rem 2.4rem;
}

#stats__container .stats__card h2 {
  font-size: 4rem;
}


